
.navbar {
    background-color: rgb(221, 221, 221)!important;
}


.tablaUsuario {
    margin: 30px;
    border: 1px solid grey;
    text-align: center;
    background-color: rgb(236, 232, 232);
}

.tabla_usuario {
    border: 1px solid grey;
    text-align: center;
    background-color: rgb(226, 158, 226);
}

.perfilUsuario {
    margin: 30px;
    text-decoration: underline;
    text-indent: 50px;
    line-height: 1.8;
    /* font-size: 25px; */
}

td {
    text-decoration: none;
}

.perfil_usuario {
    margin: 30px;
}


h1 {
    text-decoration: underline;
    font-style: oblique;
}

.usuario {
    padding-left: 30PX;
    padding-right: 30PX;
    border: 15px;
}


.scrum-nav {
    color: rgb(180, 33, 180) !important;
    font-style: italic;
    font-weight: bold;
   font-size: 18px;
}

.formularioEnvio {
    width: 50%;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid rgb(180, 33, 180);
}

.formularioEnvio div {
    margin: 10%;
}

.enviar {
    margin: auto;
}

h2 {
    text-align: center;
    font-style: oblique;
}
textarea{
    width: 80%;
    height:100px;
}



